<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Brand</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/comp">Advertise</a></li>
        <li><a href="#section2">Practice</a></li>
        <li><a href="#section3">Upload</a></li>
        <li><a href="#/everything">Everything</a></li>
        <li>&nbsp;</li>
      </ul>
    
    </div>
  </div>
</nav>

<section class="container-fluid" id="section3">
    <div class="v-center">
        <h1 class="text-center">Just One Page</h1>
        <h2 class="text-center lato animate slideInDown">Change It To Say <b>Something</b> Unique</h2>
    </div>
</section>

<section class="container-fluid" id="section2">
    <div class="container">
    <div class="row">
     <div class="col-md-4">
        <div class="box">
            <img src="http://www.planwallpaper.com/static/images/Eiffel-Tower-lanscape-Wallpaper-HD.jpg" />
                <div class="overlay">
                </div>
            <a class="more" href="#name">More reading</a>
        </div>
       </div> 
      <div class="col-md-4">

        <div class="box">
            <img src="http://www.planwallpaper.com/static/images/colorful-easter-eggs-holiday-hd-wallpaper-1920x1200-10811.jpg" />
                <div class="overlay">
                </div>
            <a href="#">More reading</a>
        </div>
        </div>
             <div class="col-md-4">

        <div class="box">
            <img src="http://www.planwallpaper.com/static/images/HD-Wallpapers1_FOSmVKg.jpeg" />
                <div class="overlay">
                </div>
            <a href="#">More reading</a>
        </div>
        </div>
    </div>
</div>
    <!--/container-->
</section>


<section class="container-fluid" id="section7">
    <h1 class="text-center">Graph??</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
           
            <p class="text-center">
                <img src="//placehold.it/444x222/444/FFF" class="img-responsive thumbnail center-block ">
            </p>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container">
       
        <!--/row-->
    </div>
</footer>

