<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">eAnalysis</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/comp" ng-click="reload()">Advertise</a></li>
        <li><a href="#section2">Practice</a></li>
        <li><a href="#section3">Upload</a></li>
        <li><a href="#/everything">Everything</a></li>
        <li>&nbsp;</li>
      </ul>
    
    </div>
  </div>
</nav>

<section class="container-fluid" id="section3">
        <div id="loaded">
            <h1 class="text-center2" >Doritos Loaded</h1>
            <h2 class="text-center lato animate slideInDown">Customize Your Content</h2>
        </div>
    </div>
</section>

 <section class="container-fluid" id="section2">
            <h1 class="text-center">Instructions</h1>

    <div class="container">

    <div class="row">
     <div class="col-md-4">
     <div class="list-group">
              <a href="#" class="list-group-item default" >
                <h2 class="list-group-item-heading">1) Play Video</h2>
              </a>
        <div class="box">
            <img src="https://images.unsplash.com/photo-1454023989775-79520f04322c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e434433acf7e61b897ee692e51e0a4f" />
                <div class="overlay">
                </div>
            </div>
        </div>
       </div> 
      <div class="col-md-4">
     <div class="list-group">
              <a href="#" class="list-group-item default">
                <h2 class="list-group-item-heading">2) Push Record</h2>
              </a>
        <div class="box">
            <img src="https://images.unsplash.com/reserve/wi9yf7kTQxCNeY72cCY6_Images%20of%20Jenny%20Lace%20Plasticity%20Publish%20(4%20of%2025).jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=50b62525764bf3061603e06d856f0552" />
                <div class="overlay">
                </div>
            </div>
        </div>
       </div>
         <div class="col-md-4">
         <div class="list-group">
              <a href="#" class="list-group-item default">
                <h2 class="list-group-item-heading">3) End Recording</h2>
              </a>
        <div class="box">
            <img src="https://images.unsplash.com/photo-1431605695381-f4a9c3cdd150?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1d6cabd39ece84165dc1181c91bbc5da" />
                <div class="overlay">
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
</section> 


<section class="container-fluid" id="section7">
    <a><h1 class="text-center2" ng-click="advid = !advid; reload();">Play</h1></a>
    <div class="row" ng-hide="!advid">
        <div class="col-sm-6 col-sm-offset-3" ng-hide="!advid">
            <!--    youtube video -->
          <video id="doritoseadd" controls ng-hide="!advid">
            <source src="doritos.mp4" type="video/mp4" ng-hide="!advid">
            Your browser does not support HTML5 video.
          </video>
        </div>
    </div>
</section>

<section class="container-fluid" id="section11">
    <a><h1 class="text-center2" ng-click="adrec = !adrec; reload();">Record</h1></a>
    <div class="row" ng-hide="!adrec">
        <div class="col-sm-6 col-sm-offset-3">
            <!--    youtube video -->
            <div class="doritoseadd" id="hdfvr-content" ></div>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container">
    <a><h1 class="text-center2" ng-click="graph = !graph; reload();">Graph</h1></a>

       <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <div  class="graph" id="container" ng-hide="!graph" style="min-width: 310px; height: 400px; margin: 0 auto" >
        <!--/row-->
    </div>
</footer>

