<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">eNalysis</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/comp" ng-click="reload()">Advertise</a></li>
        <li><a href="#/practice">Practice</a></li>
        <li><a href="#/upload">Upload</a></li>
        <li><a href="#/everything">Everything</a></li>
        <li>&nbsp;</li>
      </ul>
    
    </div>
  </div>
</nav>


<section class="container-fluid" id="section1">
  	<h1 class="text-center v-center">eNalysis.</h1>
  	 	<h2 class="text-center2 landing">Play. Record. Upload. Graph. Analyze.</h2>

  	<div class="container">
      <div class="rows">
            
  </div><!--/container-->
</section>

<section class="container-fluid" id="section2">
                <h1 class="text-center">Purposefully Analyze</h1>

    <div class="container v-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                                <h3>Advertise</h3></div>
                            <div class="panel-body">
                                <p>Get real time response on how your customers feel about the advertising and product without a survey.</p><i class="glyphicon glyphicon-bullhorn"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                                <h3>Practice</h3></div>
                            <div class="panel-body">
                                <p>Perfect your deliverance by mastering facial construction for public speaking, interviews, script readings and more.</p><i class="glyphicon glyphicon-facetime-video"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                                <h3>Upload</h3></div>
                            <div class="panel-body">
                                <p>Switch out your content, upload a video you have recorded of yourself or that you want someone to see for graphed data.</p><i class="
					             glyphicon glyphicon-open"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/container-->
</section>
     <section id="section11">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
                <h1 class="text-center2">Play Any Video</h1>
            <h3 class="title-sub">Play any video that you have to capture the most organic response from your viewer. eNalysis allows you to upload any video that you have access to on your local computer. Give variety to your viewer and capture an authentic response.</h3> 
        </div><!-- / column -->
           <div class="col-md-6">
                    <img class="playimage" src="http://www.aegon.ro/Documents/aegon-ro/images/video-play.png">

        </div>
      </div><!-- / row -->
    </div><!-- / container -->
  </section>

<section id="section14">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
                    <img class="webcamimage" src="http://www.ballywhosocial.com/website/wp-content/uploads/2013/03/Webcam.png">
        </div>
        <div class="col-md-6">
                <h1 class="text-center2">Record Response</h1>
            <h3 class="title-sub">With recording your viewer's response, eNalysis will allow you to utilize the API and get a data of their frist response. This takes away from any surveys or reviews and records the most organic response from every viewer. </h3>
        </div><!-- / column -->
      </div><!-- / row -->
    </div><!-- / container -->
  </section>
 <section id="section7">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
                <h1 class="text-center2">Real Time Data</h1>
            <h3 class="title-sub">With real time data allows you to graph and see visually your viewer's response. This data is able to be stored, accessed and compiled so you can compare different videos from each other. All graphs are able for download as well.</h3>
        </div><!-- / column -->
           <div class="col-md-6">
                    <img class="graphImage" src="../../graph.png">

        </div>
      </div><!-- / row -->
    </div><!-- / container -->
  </section>

<footer id="section6">
 
</footer>
</div>