body{
	background-color: #FFFFF6;
	font-family: Miller Banner;
}

#contain {
  overflow: hidden;
  height: 430px;
  width: 110%;
  background: #edeae8;
  position: relative;
}

.backgroundvid {
  position: absolute;
  
  /* Vertical and Horizontal center*/
  left: 50%; top: 25%;
  transform: translate(-50%, -50%);
}

#body{
	background-color: #444;
}

#VideoRecorder{
	margin-top: 25px;
	margin-bottom: 30px;
	padding-left: 15px;
	width: 100%;
	height: 255px;
	border-radius: 0%;
}

#toprow{
	border-color: white;
}

.row{
	background-color: white;
	border-left-color: white;
	border-right-color: white;
	border-style: solid;
	border-bottom-color: white;
}

video{
	width: 100%;
	height: 262px;
	margin-top: 20px;
	padding-right: 15px;
	margin-bottom: 30px;
}
h5{
	text-align: center;
}
.container a{
	text-decoration: none;
	color: #34353a;
}

#container.graph{
	margin-top: 115px;
}

h1{
	text-align: center;
	color: black;
}

hr{
	width: 500px;
	border-color: black;
}

.container{
	width: 1000px;
}

.graph-title{
	color: white;
	text-align: center;
}

.hr{
	border-color: white;
}

#message{
	margin-top: -20px;
}

#message2{
margin-top: -30px; 
margin-bottom: 20px;
}

#inputvid{
	width: 100%;
	height: 262px;
	margin-top: 20px;
	padding-right: 15px;
	margin-bottom: 30px;}

.loading{
	text-align: center;
}

.loading img{
	height: 300px;
	width: 300px;
}


