body{
	background-color: #FFFFF6;
	font-family: Miller Banner;
}

#contain {
  overflow: hidden;
  height: 730px;
  width: 100%;
  background: #edeae8;
  position: relative;
}
#head{
	margin-top: 25px;
	height: 350px;
	width: 350px;
	float: left;
	position: relative;
}
#top #head{
	margin-top: 15px;
	overflow: hidden;
	height: 250px;
	width: 250px;
	position: relative;
}

.backgroundvid {
  position: absolute;
  
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

#body{
	background-color: #444;
}

#VideoRecorder{
	margin-top: 25px;
	margin-bottom: 30px;
	padding-left: 15px;
	width: 100%;
	height: 255px;
	border-radius: 0%;
}

#toprow{
	border-color: white;
}

#row{
	background-color: white;
	border-left-color: white;
	border-right-color: white;
	border-style: solid;
	border-bottom-color: white;
	border-top-color: white;
}

#upload{
	width: 100%;
	height: 262px;
	margin-top: 20px;
	padding-right: 15px;
	margin-bottom: 30px;
}
#main{
	width: 100%;
	height: 262px;
	margin-top: 20px;
	padding-right: 15px;
	margin-bottom: 30px;
}
#button{
    border: solid;
    border-color: white;
  left: 68%;
	position: relative;
	align: center;
}
.container a{
	text-decoration: none;
	color: #34353a;
}

#container.graph{
	margin-top: 115px;
}

h1{
	text-align: center;
	color: black;
	position: relative;

}

hr{
	width: 500px;
	border-color: white;
}

.container{
	width: 1000px;
}

.graph-title{
	color: white;
	text-align: center;
}

.hr{

	border-color: white;
}

#message{
	margin-top: -20px;
}

#message2{
margin-top: -30px; 
margin-bottom: 20px;
}

#inputvid{
	width: 100%;
	height: 262px;
	margin-top: 20px;
	padding-right: 15px;
	margin-bottom: 30px;}

.loading{
	text-align: center;
}

.loading img{
	height: 300px;
	width: 300px;
}


.btn__grad:hover {
    box-shadow: 0px 18px 31px 0px rgba(0, 0, 0, 0.3);
}
.btn__black, .btn__red:hover, .btn__red:focus, .btn__red:active, .btn__grad:hover {
    background: #282828;
    color: #fff;
}
a:hover, a:active, a:focus {
    color: #fc490c;
    outline: 0;
}
.btn__grad {
    color: #fff;
    background: #fc490c;
    background-image: -moz-linear-gradient( 90deg, rgb(245,73,18) 0%, rgba(255,73,10,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(245,73,18) 0%, rgba(255,73,10,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(245,73,18) 0%, rgba(255,73,10,0) 100%);
    box-shadow: 0px 18px 31px 0px rgba(255, 73, 10, 0.3);
}
.btn__md {
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
}
.btn {
    display: inline-block;
}
.ls__2 {
    letter-spacing: 2px;
}
.br__40 {
    border-radius: 40px;
}
.f__mont {
    font-family: 'Montserrat', sans-serif;
}
.fs__12 {
    font-size: 12px;
}
a {
    color: #282828;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}
